* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.app-background {
  background-color: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  .app-container {
    margin: 20px;
    box-shadow: 0 0 5px 5px #333333;
    background-color: #fff;
  }
}