.game-window {
  position: absolute;
  left: 0;
  top: 0;
  transform-style: preserve-3d;

  .perspective-layer {
    pointer-events: none;

    .director-layer {
      pointer-events: all;
    }
  }
}