.game-window {
  position: absolute;
  transform-style: preserve-3d;

  .perspective-layer {
    position: absolute;
    pointer-events: none;

    .director-layer {
      position: absolute;
      pointer-events: all;

      .coordination-layer {
        .coordination-unit {
          position: absolute;
          border: 1px solid black;
        }
      }

      .game-object-container {
        .game-object {
          position: absolute;
        }
      }
    }
  }
}