* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

*.undraggable {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.player1 {
  color: darkred;
  outline-color: darkred !important;
  border-color: darkred !important;
}

.player2 {
  color: darkblue;
  outline-color: darkblue !important;
  border-color: darkblue !important;
}

.player3 {
  color: darkgreen;
  outline-color: darkgreen !important;
  border-color: darkgreen !important;
}

.player4 {
  color: darkgoldenrod;
  outline-color: darkgoldenrod !important;
  border-color: darkgoldenrod !important;
}

.drag-box {
  position: absolute;
  border: 1px solid black;
  display: block;
}

@keyframes fa-play {
  0% {
    content: '\f026';
  }

  33% {
    content: '\f027';
  }

  66% {
    content: '\f028';
  }
}

@-webkit-keyframes fa-play {
  0% {
    content: '\f026';
  }

  33% {
    content: '\f027';
  }

  66% {
    content: '\f028';
  }
}

.game-window {
  position: fixed;
  left: 0;
  top: 0;
  transform-style: preserve-3d;

  &.camera-moving {
    cursor: move;
  }

  .pop-up-layer {
    transform: perspective(0) translateZ(10000px);
    pointer-events: none;

    .action-blocker {
      position: absolute;
      background: rgba(255, 255, 255, 0.7);
      pointer-events: all;
    }

    .header {
      position: absolute;
      top: 0;
      display: flex;
      width: 100%;
      justify-content: center;
      font-size: 1rem;

      .room-control {
        pointer-events: all;
        padding: 0.5em;
        background: rgba(233, 233, 233, 0.7);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-top: none;
        border-radius: 0 0 10px 10px;

        > span {
          margin: 0 0.2em;
          padding: 0.2em 0.5em;
          border-radius: 0.2em;
          border: 1px inset transparent;
        }

        .button {
          &:hover, a:hover {
            cursor: pointer;
            color: #6699cc;
            background: transparent;
          }

          &.active {
            background: gray;
            border-color: darkgray;
          }
        }
      }
    }

    .footer {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .footer-right {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .pane-container {
      bottom: 0;
      display: flex;
      align-items: flex-start;
      flex-direction: row-reverse;
      flex-wrap: wrap-reverse;
      padding: 10px;
    }

    .message-pane {
      margin: 10px;
      position: relative;
      bottom: 0;
      background: rgba(233, 233, 233, 0.7);
      border: 5px double rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      pointer-events: all;

      .message-container {
        box-sizing: border-box;
        padding: 0 1rem 0 0.5rem;
        width: 100%;
        height: calc(100% - 26px);
        overflow-x: scroll;
        overflow-y: auto;

        .message {
          width: 100%;
          min-height: 44px;
          cursor: default;
          margin-top: 4px;
          display: flex;

          &.info {
            color: cornflowerblue;
          }

          &.warning {
            color: orange;
          }

          &.error {
            color: orangered;
          }

          .avatar {
            margin-top: 4px;
            max-width: 36px;
            max-height: 36px;
            border-radius: 18px;
          }

          .msg-body {
            width: calc(100% - 36px);
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .from {
              display: flex;
              align-items: baseline;

              i {
                margin: 0 2px;
              }
            }

            .content {
              max-width: calc(100% - 24px);
              position: relative;
              margin: 0 12px;
              word-wrap: break-word;
              padding: 0 4px;
              background: white;
              border-radius: 0 4px 4px 4px;

              .content-arrow {
                position: absolute;
                width: 0;
                height: 0;
                border: solid transparent;
                top: 0;
                left: -16px;
                border-width: 0 8px 8px;
                border-right-color: white;
              }
            }

            .audio-control {
              background: white;
              display: flex;

              &:hover {
                cursor: pointer;
              }

              .new-audio {
                color: red;
                font-size: 0.5em;
              }

              .playing {
                flex-grow: 1;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;

                .fa-volume-off {
                  width: 1.28571429em;
                  text-align: left;
                  margin: 0 -2px;
                }

                .fa-play:before {
                  content: '\f026';
                  animation: fa-play 1s infinite;
                  -webkit-animation: fa-play 1s infinite;
                }
              }
            }
          }

          &.self {
            flex-direction: row-reverse;

            .msg-body {
              align-items: flex-end;
            }

            .from {
              flex-direction: row-reverse;
            }

            .content {
              text-align: right;
              border-radius: 4px 0 4px 4px;

              .content-arrow {
                left: auto;
                right: -16px;
                border-width: 0 8px 8px;
                border-right-color: transparent;
                border-left-color: white;
              }
            }

            .audio-control {
              flex-direction: row-reverse;

              .playing {
                flex-direction: row;

                .fa {
                  transform: scaleX(-1);
                }
              }
            }
          }
        }
      }

      .message-control {
        display: flex;
        padding: 4px 10px;

        .message-input {
          padding: 0 8px;
          flex-grow: 1;
          background: transparent;
          border: none;
        }

        .send {
          width: 2em;
          margin-left: 4px;
          color: gray;
          border: 1px solid gray;
          border-radius: 4px;
          padding: 0 4px;

          &:hover {
            cursor: pointer;
            color: #6699cc;
            border-color: #6699cc;
          }
        }
      }

      .resizer {
        display: block;
        position: absolute;

        &.top-resizer {
          top: -5px;
          left: 0;
          width: 95%;
          height: 5px;
          cursor: ns-resize;
        }

        &.right-resizer {
          top: 5%;
          right: -5px;
          width: 5px;
          height: 95%;
          cursor: ew-resize;
        }

        &.top-right-resizer {
          top: -5px;
          right: -5px;
          width: 5%;
          height: 5%;
          cursor: nesw-resize;
        }
      }
    }

    .game-pane {
      position: fixed;
      background: white;
      border: 1px solid black;
      border-radius: 5px;
      pointer-events: all;

      &:focus {
        outline: none;
      }

      .pane-header {
        background: lightgray;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-radius: 5px;

        .title {
          white-space: nowrap;
        }

        .control {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
        }

        .fa {
          margin-left: 0.5em;

          &:hover {
            cursor: pointer;
            color: #6699cc;
          }

          &.disabled {
            color: gray;

            &:hover {
              cursor: default;
            }
          }
        }
      }

      &.open .pane-header {
        border-radius: 5px 5px 0 0;
      }

      .pane-body {
        position: relative;
        width: 100%;
        height: calc(100% - 34px);
        overflow: auto;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;

        iframe {
          width: 100%;
          height: 100%;
          overflow: auto;
        }
      }

      .resizer {
        display: block;
        position: absolute;

        &.bottom-resizer {
          bottom: -2.5px;
          width: calc(100% - 10px);
          height: 5px;
          cursor: ns-resize;
        }

        &.right-resizer {
          right: -2.5px;
          bottom: 10px;
          width: 5px;
          height: calc(100% - 10px);
          cursor: ew-resize;
        }

        &.bottom-right-resizer {
          bottom: -2.5px;
          right: -2.5px;
          width: 10px;
          height: 10px;
          cursor: nwse-resize;
        }
      }
    }

    .edit-object-pane .pane-body {
      background-color: lightgray;
      padding: 8px;
      display: flex;
      align-items: stretch;

      .editor {
        flex: 3 75%;
        position: relative;
        background-color: white;
        border: 2px inset darkgray;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;

        &.rect {
          cursor: crosshair;
        }

        &.text {
          cursor: text;
        }

        .game-object {
          position: relative;
          overflow: hidden;

          .marker {
            position: absolute;
            cursor: default;

            &.edit {
              cursor: move;
            }
          }
        }
      }

      .marker-pane {
        flex: 1 25%;
        padding: 8px;

        .preview {
          max-width: 50px;
          max-height: 50px;
        }

        .upload {
          width: 150px;
        }

        .spliter {
          width: 100%;
          display: block;
          border: 1px inset #cccccc;
          margin: 1em 0;
        }
      }

      .toolbox {
        position: absolute;
        top: 0;
        left: 0;
        margin: 8px;
        padding-top: 4px;
        display: flex;
        flex-direction: column;
        font-size: 2em;

        .tool {
          margin: 4px;

          &:hover {
            cursor: pointer;
            color: #6699cc;
          }
        }
      }
    }

    .game-menu .pane-body {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .create-object-pane .pane-body {
      .filter-bar {
        width: 100%;
        display: flex;

        .filter-tab {
          padding: 4px 8px 0 8px;
          margin-left: -1px;
          border: 1px solid black;
          border-radius: 10px 10px 0 0;
          background-color: gray;

          &.active {
            background-color: white;
            border-bottom: none;
          }
        }

        .filter-fill {
          flex-grow: 1;
          border-bottom: 1px solid black;
        }
      }

      .meta-container {
        height: calc(100% - 28px - 19px);
        overflow-y: auto;

        .content {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .footer-control {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid black;
      }

      .game-object-meta {
        position: relative;
        margin: 0.5em;
        padding: 0.5em;
        border: 1px solid transparent;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        font-size: 0.625em;

        .thumb {
          max-width: 50px;
          max-height: 50px;
        }

        .desc {
          position: fixed;
          background: rgba(233, 233, 233, 0.7);
          border: 1px solid gray;
          border-radius: 4px;
          max-width: 100px;
          z-index: 1;
        }

        &:hover {
          cursor: pointer;
        }

        &.selected {
          border: 1px solid #6699cc;
        }
      }
    }

    .player-pane {
      display: flex;
      flex-wrap: wrap;

      .player {
        box-sizing: border-box;
        padding: 0.5rem;
        margin: 0.5rem;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        .avatar {
          height: 100px;
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-height: 100px;
            max-width: 100px;
          }
        }
      }
    }
  }

  .perspective-layer {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    .director-layer {
      position: absolute;
      pointer-events: all;

      .origin-point {
        position: absolute;
        display: block;
        width: 100px;
        height: 100px;
        border-top: 1px solid darkslategrey;
        border-left: 1px solid darkslategrey;
      }

      .coordination-layer {
        pointer-events: none;
        .coordination-unit {
          position: absolute;
          border: 1px solid black;
        }
      }

      .game-object-container {
        font-size: 2rem;
        .player-area {
          position: absolute;
          outline: 5px double;
          display: block;

          .area-header {
            position: absolute;
            top: -2em;
            left: 0;
            width: 100%;
            padding: 4px;
            display: flex;
            justify-content: space-between;

            .title {
              cursor: default;
            }

            .control {
              display: flex;

              &.locked {
                pointer-events: none;
              }
            }

            i {
              margin: 4px;

              &:hover {
                cursor: pointer;
                color: #6699cc;
              }
            }
          }
        }

        .game-object {
          pointer-events: all;
          background-size: 100%;
          position: absolute;
          outline: transparent ridge 0.1em;
          &:hover {
            cursor: pointer;
          }
          &.locked {
            pointer-events: none;

            &:hover {
              cursor: default;
            }
          }
          &.selected {
            transform: translateZ(10px);
            z-index: 10000;
            &:hover {
              cursor: -webkit-grab;
            }
          }
          &.dragging {
            opacity: 0.5;
            cursor: -webkit-grabbing !important;
            pointer-events: none;
          }
        }

        .deck-object {
          display: flex;
          justify-content: center;
          align-items: center;

          .count {
            pointer-events: none;
            font-size: 2em;
            font-weight: bolder;
            color: black;
            text-shadow: -3px -3px 3px #fff, 3px -3px 3px #fff, -3px 3px 3px #fff, 3px 3px 3px #fff;
          }

          .inner-object {
            position: absolute;
          }

          &.empty {
            border: 1px solid black;
          }
        }
      }
    }
  }
}